#include "resource.h"
#include "default_resource.h"
#include <winver.h>
#include <windows.h>

IDW_MAIN ICON "xenoide.ico"

STRINGTABLE
BEGIN
    IDW_MAIN            "Xenoide"
    IDW_READY           "Ready"

    IDM_FILE_NEW        "Create a new file"
    IDM_FILE_OPEN       "Open an existing file"
    IDM_FILE_SAVE       "Save the active document"
    IDM_FILE_SAVEAS     "Save the active document under a new name"
    IDM_FILE_EXIT       "Exit Xenoide"
    IDM_EDIT_UNDO       "Undo the last action"
    IDM_EDIT_REDO       "Redo the last undone action"
    IDM_EDIT_CUT        "Cut the selection to the clipboard"
    IDM_EDIT_COPY       "Copy the selection to the clipboard"
    IDM_EDIT_PASTE      "Paste the clipboard contents"
    IDM_HELP_ABOUT      "Display version and license information"
END

IDW_MAIN MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New\tCtrl+N",                IDM_FILE_NEW
        MENUITEM "&Open...\tCtrl+O",            IDM_FILE_OPEN
        MENUITEM "&Save\tCtrl+S",               IDM_FILE_SAVE
        MENUITEM "Save &As...",                 IDM_FILE_SAVEAS
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                       IDM_FILE_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Undo\tCtrl+Z",               IDM_EDIT_UNDO
        MENUITEM "&Redo\tCtrl+Y",               IDM_EDIT_REDO
        MENUITEM SEPARATOR
        MENUITEM "Cu&t\tCtrl+X",                IDM_EDIT_CUT
        MENUITEM "&Copy\tCtrl+C",               IDM_EDIT_COPY
        MENUITEM "&Paste\tCtrl+V",              IDM_EDIT_PASTE
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About...",                   IDM_HELP_ABOUT
    END
END

VS_VERSION_INFO VERSIONINFO
FILEVERSION     APP_VERSION_MAJOR, APP_VERSION_MINOR, APP_VERSION_PATCH, APP_VERSION_BUILD
PRODUCTVERSION  APP_VERSION_MAJOR, APP_VERSION_MINOR, APP_VERSION_PATCH, APP_VERSION_BUILD
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
FILEFLAGS       VS_FF_DEBUG
#else
FILEFLAGS       0
#endif
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      APP_COMPANY_NAME
            VALUE "FileDescription",  APP_DESCRIPTION
            VALUE "FileVersion",      APP_VERSION_STR
            VALUE "InternalName",     APP_PRODUCT_NAME
            VALUE "LegalCopyright",   APP_COPYRIGHT
            VALUE "OriginalFilename", APP_PRODUCT_NAME ".exe"
            VALUE "ProductName",      APP_PRODUCT_NAME
            VALUE "ProductVersion",   APP_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04B0
    END
END
